In [ ]:
# get the sample data with 10 columns so the code matches the data.
ddf =

In [ ]:
# The use of map
weekname = {
    0: "Monday",
    1: "Tuesday",
    2: "Wednesday",
    3: "Thursday",
    4: "Friday",
    5: "Saturday",
    6: "Sunday"
}

ddf["day_of_week"] = ddf["day_of_week"].map(weekname)
# this is same as
ddf["day_of_week"] = ddf["day_of_week"].apply(lambda x: weekname[x])

In [18]:
import pandas as pd

# Sample data
data = {
    'CreatedDate': ['2025-01-03', '2025-01-03', '2025-01-05', '2025-01-09'],
    'Message': [
        'Payment received, thank you!',
        'Payment received!',
        'Invoice generated for your account.',
        'Your subscription is confirmed.'
    ],
    'count': [2,1,1,1]
}

# Create the DataFrame.
df = pd.DataFrame(data)
df['CreatedDate'] = pd.to_datetime(df['CreatedDate'])

# Display the DataFrame.
print(df)

  CreatedDate                              Message  count
0  2025-01-03         Payment received, thank you!      2
1  2025-01-03                    Payment received!      1
2  2025-01-05  Invoice generated for your account.      1
3  2025-01-09      Your subscription is confirmed.      1

In [ ]:
df['week'] = df['CreatedDate'].dt.to_period('W')
df

,CreatedDate,Message,count,week
0,2025-01-03,"Payment received, thank you!",1,2024-12-30/2025-01-05
1,2025-01-05,Invoice generated for your account.,2,2024-12-30/2025-01-05
2,2025-01-09,Your subscription is confirmed.,1,2025-01-06/2025-01-12

In [9]:
df['month'] = df['CreatedDate'].dt.to_period('M')     # you cna do .dt.start_time -- to get the actual start date. 
df

  CreatedDate                              Message  count     week    month
0  2025-01-03         Payment received, thank you!      1  2025-01  2025-01
1  2025-01-05  Invoice generated for your account.      2  2025-01  2025-01
2  2025-01-09      Your subscription is confirmed.      1  2025-01  2025-01

In [3]:
df['week'] = df['CreatedDate'].dt.weekday
df

  CreatedDate                              Message  count  week
0  2025-01-03         Payment received, thank you!      1     4
1  2025-01-05  Invoice generated for your account.      2     6
2  2025-01-09      Your subscription is confirmed.      1     3

In [ ]:
df['week'] = df['CreatedDate'].dt.year # you can get month also using .dt.month
df

  CreatedDate                              Message  count  week
0  2025-01-03         Payment received, thank you!      1  2025
1  2025-01-05  Invoice generated for your account.      2  2025
2  2025-01-09      Your subscription is confirmed.      1  2025

In [19]:
df['week'] = df['CreatedDate'].dt.to_period('W').dt.start_time  # gives the start date of the week. 

# you can try end_time also.
df

  CreatedDate                              Message  count       week
0  2025-01-03         Payment received, thank you!      2 2024-12-30
1  2025-01-03                    Payment received!      1 2024-12-30
2  2025-01-05  Invoice generated for your account.      1 2024-12-30
3  2025-01-09      Your subscription is confirmed.      1 2025-01-06

In [29]:
def count_info(df):
    di = {}
    # count the number of meessages has came once in the week. and their sum.
    print(df)
    di['non_repeating_msg_count'] = (df['count'] == 1).sum()
    di['non_repeating_msg_sum'] = df[df['count'] == 1]['count'].sum()
    di['repeating_msg_count'] = (df['count'] > 1).sum()
    di['repeating_msg_sum'] = df[df['count'] > 1]['count'].sum()
    di['total_msg'] = df['count'].sum()
    di['can_actually_serve'] = di['repeating_msg_sum'] - di['repeating_msg_count']

    return pd.Series(di)

df.groupby('CreatedDate').apply(count_info)

  CreatedDate                       Message  count       week
0  2025-01-03  Payment received, thank you!      2 2024-12-30
1  2025-01-03             Payment received!      1 2024-12-30
  CreatedDate                              Message  count       week
2  2025-01-05  Invoice generated for your account.      1 2024-12-30
  CreatedDate                          Message  count       week
3  2025-01-09  Your subscription is confirmed.      1 2025-01-06

/var/folders/w5/jt6t0w1x133_kw9d6tynyxrw0000gp/T/ipykernel_16013/1638172660.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('CreatedDate').apply(count_info)

,non_repeating_msg_count,non_repeating_msg_sum,repeating_msg_count,repeating_msg_sum,total_msg,can_actually_serve
CreatedDate,,,,,,
2025-01-03,1,1,1,2,3,1
2025-01-05,1,1,0,0,1,0
2025-01-09,1,1,0,0,1,0

In [ ]:
# drop na 
df['ExtractedFeatures'] = df['ExtractedFeatures'].dropna(axis=0) # wrong why 
# This does not drop the rows from the original DataFrame df. It only modifies the Series df['ExtractedFeatures'],
#  and then reassigns that cleaned Series back to just that column — not to the whole DataFrame.
#  That causes misalignment if some rows were dropped, leading to unexpected NaN values.

df = df.dropna(subset=['ExtractedFeatures'])

In [ ]:
df_exp = df.explode('domain') # this will split the list and give one row one each list elements.



# UrlArray	AiVerdict	AiScore	len_email	domain
# 0	[https://scl.ink/VSyva]	suspicious	0.90	1	[https://scl.ink]
# 4	[https://www.if.fi/f192]	clean	0.56	1	[https://www.if.fi]
# 11	[bit.ly/cg_villkor]	suspicious	0.72	1	[bit.ly/cg_villkor]


# output:

# [https://unicef.fi/no]	clean	0.52	1	https://unicef.fi
# 16	[elisa.fi/myymalat, elisa.fi/omat-luvat, elisa.fi/yhteydenotto]	clean	0.80	3	elisa.fi/myymalat    --> the first list has been splited into 3 
# 16	[elisa.fi/myymalat, elisa.fi/omat-luvat, elisa.fi/yhteydenotto]	clean	0.80	3	elisa.fi/omat-luvat
# 16	[elisa.fi/myymalat, elisa.fi/omat-luvat, elisa.fi/yhteydenotto]	clean	0.80	3	elisa.fi/yhteydenotto
# 17	[https://unicef.fi/no]	clean	0.52	1	https://unicef.fi

In [ ]:
df.columns.duplicated() # give you the list of column names which are duplocated.
# oyu can drop them like this
df = df.loc[:, ~df.columns.duplicated()]

NameError: name 'df' is not defined

In [ ]:
# to convert all the coluns metrics to percentages.
metric_cols = [
    'Accuracy Overall', 'Precision Overall', 'Recall Overall', 'F1 Overall',
    'Accuracy Scam', 'Precision Scam', 'Recall Scam', 'F1 Scam',
    'Accuracy NonScam', 'Precision NonScam', 'Recall NonScam', 'F1 NonScam'
]

for col in metric_cols:
    # Convert to percentage string with 2 decimals and % sign
    metrics_df[col] = metrics_df[col].apply(lambda x: f"{x*100:.2f}%" if pd.notnull(x) else "N/A")