Examples:

Input : n = 5
Output: 
* 
* * 
* * * 
* * * * 
* * * * *

In [ ]:
# - so need to print first row - 1 star
# - second row - 2 stars
# - third row - 3 stars


def print_right_triangle(n):
    for i in range(n):
        print("* " * (i+1))

In [ ]:
print_right_triangle(5)

*
* *
* * *
* * * *
* * * * *

# 2 | Print Downward Triangle Star Pattern

Downward triangle star pattern means we want to print a triangle that is downward facing means base is upwards and by default, orientation is leftwards so the desired triangle to be printed should look like

* * * *
* * *
* *
*

In [ ]:
# first row - n stars
# second row - n-1 starts
def print_right_triangle(n):
    for i in range(n):
        print("* " * (n-i))


print_right_triangle(4)

* * * *
* * *
* *
*

# 3 | Print Left Triangle Star Pattern

Examples:

Input : n = 5
Output: 
           * 
         * * 
       * * * 
     * * * * 
   * * * * *

In [ ]:
# first row - 4 spaces and 1 star 
# second ro - 3 spaces and 2 star
def print_left_triangle(n):
    for i in range(n):
        # for r1 = spaces = 4 [which is n-1] and star = 1 [i]
        num_of_spaces = (n-1) - i # for row 5 , spaces = 0 adn star = 5
        num_of_star = i+1
        print("  " * num_of_spaces, end=" ")
        print("* " * num_of_star)


print_left_triangle(5)

         *
       * *
     * * *
   * * * *
 * * * * *

# 4 | Square Hollow Pattern

n = 6

******
*    *
*    *
*    *
*    *
******

In [3]:
# - 6 rows and first and last full 
# - rest will be having * in 0 and n-1 column

def square_hollow(n):
    number_of_spaces = n-2
    print("*" * n)

    # print the rest here.
    for _ in range(n-2):
        print("*", end="")
        print(" " * (n-2), end="")
        print("*")
    
    # last row.
    print("*" * n)

square_hollow(5)

*****
*   *
*   *
*   *
*****

# 5 | Number Triangle Pattern

In [ ]:
n=6 


     1 
    2 2 
   3 3 3 
  4 4 4 4 
 5 5 5 5 5 
6 6 6 6 6 6

In [5]:
# - we knwo the last rows spaces , so decide the rest using that.
# - last row = 6 [numbers] + (6-1) [spaces in bwt them] => 11
# - so the middle for the first row to start is 11//2 = 5 => one should be printed at 6th place. so 5 spaces.
# - r1 - 5 spaces and 1
# - r2 - 4 spaces and 2 2
# - r3 - 3 spaces and 3 3 3 etc
def number_triangle(n):
    last_line = n + (n-1)
    starting_space = last_line // 2
    for i in range(1, n+1):
        print(" " * starting_space, end="")
        print(f"{i} " * i)

        starting_space -= 1

number_triangle(6)

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
6 6 6 6 6 6

# 6 | Print Diamond Shape Star Pattern

Input: number = 7
 
Output:

       *
      ***
     *****
    *******
   *********
  ***********
 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [8]:
# - 7th row will be having 7 + (7-1) stars
# same logic as above for the half dimand then reverse the logic.
def number_triangle(n):
    last_line = n + (n-1)
    starting_space = last_line // 2
    number_of_starts = 1
    for _ in range(1, n+1):
        print(" " * starting_space, end="")
        print("*" * number_of_starts)

        starting_space -= 1
        number_of_starts += 2
    # second loop to print the second half.
    starting_space = 1
    number_of_starts -= 4
    for _ in range(n-1):
        print(" " * starting_space, end="")
        print("*" * number_of_starts)

        starting_space += 1
        number_of_starts -= 2


number_triangle(7)

      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

# 7 | print diagonal star patterns

The input must be an odd number.
Examples: 
 
Input : 7
Output :

    *******
    **   **
    * * * *
    *  *  *
    * * * *
    **   **
    *******

In [ ]:
# - 6 rows and first and last full 
# - rest will be having * in 0 and n-1 column

def square_hollow(n):
    number_of_spaces = n-2
    print("*" * n)

    # print the rest here.
    for i in range(1, n-1):
        print("*", end="")
        # Fill the X in bwt. so for 7, the rows considered for X is 1-5. 

        print("*")
    
    # last row.
    print("*" * n)

square_hollow(7)

*******
*     *
*     *
*     *
*     *
*     *
*******